.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0;
  display: block;

  list-style: none;
  text-align: center;
}

.nav ul li a {
  display: block;
  margin: 0.5em;
  padding: 0.5em;
  min-height: 42px;
  min-width: 42px;
}

.nav.collapsed ul {
  background: yellow;
  display: none;
}

.nav .toggler {
  display: block;
  margin: 0 auto;
  border: none;
  background: none;
  font-size: 0;
}

.nav .toggler::before {
  content: '\2715';
  display: block;
  margin-bottom: -21px;
  background-color: white;
  background-color: var(--main-background-color);
  min-width: 42px;
  min-height: 42px;
  border: none;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  font-size: 24px;
  line-height: 42px;
}

.nav.collapsed .toggler::before {
  content: '\2630';
  margin-bottom: -19px;
}

