.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin: 0;
  padding: 1em;
  display: block;

  list-style: none;
  text-align: center;
}
/*
.collapsed {
}*/

.collapsed ul {
  background: yellow;
  display: none;
}

.nav button .toogle {
  background-color: yellow;
  border: 5px solid blue;
}